.outer .public-left{
    height: 5665px;
}
.public-panel{
	width: 1028px;
	height: 100%;
	margin: auto;
	position: relative;
}
.public-title2{
	font-size: 30px;
	font-weight: bolder;
	color: #e94b59;
	text-align: center;
	line-height: 3em;
}
.public-title3{
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	line-height: 1.5em;
	margin-top: 20px;
}
.public-txt{
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}
/*模块1*/
.module-1{
	height: 636px;
}
.module-1 .hexagon{
	width: 308px;
	height: 356px;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left:0;
	margin: auto;
	background:url(../img/2-6.png) no-repeat 50% 50%;
	background-size: 100% 100%;
}
.info-1 li{
	z-index: 999;
}
.info-1 li h6{
	background-image: url(../img/icon6.png);
	background-repeat: no-repeat;
}
.info-1 li h5{
	width: 32px;
	height: 32px;
	background-image: url(../img/icon3.png);
	background-repeat: no-repeat;
}
.info-1 li p{
	line-height: 1.5em;
}
.item1-1{
	position: absolute;
	top:60px;
	left: 498px;
}
.item1-1 h6{
	float: left;
	width: 50px;
	height: 50px;
}
.item1-1 p{
	float: left;
	margin-top: 20px;
}
.item1-1 h5{
	clear: both;
	background-position: -26px 0;
}
.item1-2{
	position: absolute;
    top: 190px;
    left: 184px;
}
.item1-2 h6{
	float: right;
    width: 60px;
    height: 60px;
    background-position: -64px 0px;
}
.item1-2 p{
	clear: both;
}
.item1-2 h5{
	float: right;
	margin-top: 16px;
	background-position: 6px 0;
}

.item1-3{
	position: absolute;
    top: 190px;
    left: 684px;
}
.item1-3 h6{
	float: left;
    width: 60px;
    height: 60px;
    background-position: -118px 0px;
}
.item1-3 p,.item1-4 p,.item1-5 p{
	clear: both;
}
.item1-3 h5{
	float: left;
	margin-top: 16px;
	background-position: -26px 0;
}
.item1-4{
	position: absolute;
    top: 388px;
    left: 184px;
}
.item1-4 h6{
	float: right;
    width: 60px;
    height: 60px;
    background-position: 6px -56px;
}
.item1-4 h5{
	float: right;
	margin-top: 16px;
	margin-right: 16px;
	background-position: -60px 4px
}

.item1-5{
	position: absolute;
    top: 388px;
    left: 684px;
}
.item1-5 h6{
	float: left;
    width: 60px;
    height: 60px;
    background-position: -60px -56px;
}
.item1-5 h5{
	float: left;
	margin-top: 16px;
	margin-right: 16px;
	background-position: -60px 0;
}
.item1-6{
	position: absolute;
	top: 510px;
    left: 376px;
}
.item1-6 h6{
	float: left;
	width: 64px;
    height: 60px;
    background-position: -128px -64px;

}
.item1-6 p{
	clear: right;
	float: left;
	margin-top: 30px;
	margin-right: 10px;
}
.item1-6 h5{
	float: right;
	margin-right: 20px;
	background-position: -26px 0;
}
/*面板2*/
.panel-2{
	height: 116px;
	background: #f2f0f0;
	
}
.panel-2 .public-panel h3{
	width: 112px;
	height: 30px;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background: #c42101;
	margin: 28px 0px 12px 8px;
}
.panel-2 .public-panel p{
	width: 1044px;
	padding-left: 6px;
	line-height: 1.5em;
}
/*模块2*/
.module-2{
	height: 542px;
}
.module-2 .Arrow{
	width: 134px;
	height: 310px;
	background: url(../img/2-2.1.png) no-repeat 0px 0px;
	position: absolute;
	top:282px;
	left:0;
	right: 0;
	margin:auto;
	z-index: 99
}
.module-2 .arrowInfo{
	width: 668px;
	height: 240px;
	background: url(../img/arrow.png) no-repeat 0px 0px;
	position: absolute;
	top:208px;
	left:0;
	right: 0;
	margin:auto;
}
.module-2 .info-2 li{
	width: 116px;
	height: 116px;
	border-radius: 100%;
	background: #c42101;
	overflow: hidden;
	position: absolute;
}
.module-2 .info-2 li h6{
	width: 42px;
	height: 42px;
	margin:12px 0px 4px 38px;
	background-image: url(../img/icon7.png);
	background-repeat: no-repeat;
}
.module-2 .info-2 li p{
	padding-top:8px; 
	width: 116px;
	height: 50px;
	line-height: 32px;
	text-align: center;
	background: #edbdb3;
}
.module-2 .info-2 li .special{
	line-height: 20px;
}
.item2-1{
	top:76px;
	left:0;
	right: 0;
	margin: auto;
}
.item2-2{
	top: 140px;
    left: 160px;
}
.item2-3{
	top: 150px;
    left: 750px;
}
.item2-4{
	top:280px;
	left:50px;
}
.item2-5{
	top:280px;
	left:856px;
}
.item2-6{
    top: 410px;
    left: 150px;
}
.item2-7{
	top: 390px;
    left: 760px
}
.item2-2 h6{
	background-position: -38px 0;
}
.item2-3 h6{
	background-position: -80px 0;
}
.item2-4 h6{
	background-position: 0 -42px;
}
.module-2 .info-2 .item2-5 h6{
	margin:22px 0px -5px 42px;
	background-position: -42px -42px;
}
.item2-6 h6{
	background-position: -84px -36px;
}
.item2-7 h6{
	background-position: 0 -80px;
}

/*面板3*/
.panel-3{
	height: 520px;
	background: #f2f0f0;
	
}
.panel-3 ul{
	width: 570px;
	margin: 68px auto 0px;
}
.panel-3 .info-3>li{
	float: left;
	width: 242px;
	height: 120px;
	border: 1px dotted #fff;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	background: #35b6a9;
	box-shadow: 0px 0px 0px 4px #35b6a9;
	margin:0px 0px 20px 20px;
}
.info-3 ol{
	width: 204px;
	margin: 24px auto 0px;
}
.info-3 ol li{
	float: left;
	padding: 8px 14px;
	margin: 1px;
	background: #fff;
}
.panel-3 .line-1{
	width: 456px;
	height: 58px;
	background: url(../img/line-1.png) no-repeat 0px 0px;
	position: absolute;
    top: 350px;
    left: 60px;
}
.panel-3 .line-2{
	width: 236px;
	height: 18px;
	background: url(../img/line-2.png) no-repeat 0px 0px;
	position: absolute;
	top: 440px;
	left: 140px;
}
.panel-3 .line-3{
	width: 180px;
	height: 18px;
	background: url(../img/line-3.png) no-repeat 0px 0px;
	position: absolute;
	top: 440px;
	left: 656px;
}
.panel-3 p{
	padding: 16px;
	background: #75a635;
	line-height: 1.5em;
	color: #fff;
	position: absolute;
}
.panel-3 .txt-1{
	width: 98px;
	left: 0;
	top: 416px;
}
.panel-3 .txt-2{
	width: 226px;
	left: 388px;
	top: 416px;
}
.panel-3 .txt-3{
    width: 154px;
    left: 846px;
    top: 416px;
    background: #c42101;
}

/*模块3*/
.module-3{
	height: 426px;
}
.module-3 .bg{
	width: 700px;
	height: 234px;
	background: url(../img/2-4.png) no-repeat 0px 0px;
	margin:40px 0px 0px 164px;

}
.module-3 div{
	line-height: 25px;
}
.module-3 .public-panel div h3{
	font-size: 16px;
	font-weight: bolder;
}
.module-3 div li{
	float: left;
	min-width: 60px;
	line-height: 1.2em;
}
.module-3 div li span{
	font-size: 20px;
	padding: 0px;
}
.module-3 .txt-m1{
	width: 284px;	
	position: absolute;
    left: 242px;
    top: 140px;
	color: #0080c8;
}
.module-3 .txt-m1 ul{
	width: 204px;
	
}
.module-3 .txt-m2{
	width: 350px;
	position: absolute;
    left: 170px;
    top: 270px;
	color: #ff6000;
}
.module-3 .txt-m3{
	width: 190px;
	position: absolute;
	left: 580px;
    top: 174px;
	color: #9bc700;
}
.module-3 .txt-m3 li{
	width: 94px;
}
.module-3 .txt-m4{
	width: 256px;
	position: absolute;
	left: 770px;
    top: 230px;
	color: #ba0202;
}
.module-3 .txt-m4 h3{
    margin: 0px 0px 10px 100px;
}
/*面板4*/
.panel-4{
	height: 550px;
	background: #f2f0f0;
}
.panel-4 .public-title3{
	margin-top: 40px;
}
.panel-4 ul{
	width: 966px;
	margin: 20px auto 0px;
}
.panel-4 ul li{
	float: left;
	padding: 0px 16px;
	width: 260px;
	height: 380px;
	text-align: center;
	background: #fff;
	border:1px solid #0a9b8c;	
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	overflow: hidden;
}
.panel-4 ul .two{
	margin: 0px 41px;
}
.panel-4 ul li h3{
	float: left;
	width: 292px;
	height: 64px;
	line-height: 64px;
	font-size: 16px;
	color: #fff;
	background: #0a9b8c;
	margin-left: -16px;
}
.panel-4 ul li h6{
	width: 80px;
	height: 80px;
	background: #0a9b8c url(../img/2-5.png) no-repeat 50% 50%;
	border-radius: 100%;
	margin: 80px auto 20px;
}
.panel-4 ul li strong{
	font-size: 16px;
	color: #0a9b8c;
}
.panel-4 ul li p{
	line-height: 2em;
}
/*模块4*/
.module-4{
	height: 500px;
}
.module-4 .line-4{
	width: 900px;
	height: 158px;
	background: url(../img/line-4.png) no-repeat 0px 0px;
	margin: 126px 0px 0px 28px;

}
.module-4 .pic-4 li{
	width: 100px;
	height: 100px;
	background-image: url(../img/icon10.png);
	background-repeat: no-repeat;
	position: absolute;
}
.module-4 .pic-4 .item4-1{
	left: 120px;
	top: 120px;
}
.module-4 .pic-4 .item4-2{
	left: 268px;
	top: 120px;
	background-position: -84px 0;
}
.module-4 .pic-4 .item4-3{
	left: 430px;
	top: 120px;
	background-position: -184px 0;
}
.module-4 .pic-4 .item4-4{
	left: 594px;
	top: 120px;
	background-position: -284px 0;
}
.module-4 .pic-4 .item4-5{
	left: 760px;
	top: 120px;
	background-position: -384px 0;
}
.module-4 .pic-4 .item4-6{
	left: 936px;
	top: 250px;
	background-position: -500px 0;
}
.module-4 .pic-4 .item4-7{
	left: 682px;
	top: 386px;
	background-position: -590px 0;
}
.module-4 .pic-4 .item4-8{
	left: 512px;
	top: 386px;
	background-position: -684px 0;
}
.module-4 .pic-4 .item4-9{
	left: 350px;
	top: 386px;
	background-position: -784px 0;
}
.module-4 .pic-4 .item4-10{
	left: 182px;
	top: 386px;
	background-position: -884px 0;
}
.panel-5{
	height: 660px;
	background: #f2f0f0;
	text-align: center;

}
.panel-5 .public-title2{
	margin-top: 40px;
    line-height: 1.5em;
}
.panel-5 .yuan{
	width: 416px;
	height: 415px;
	border-radius: 100%;
	background: #fff;
	overflow: hidden;
	position: relative;
	left: 0;
	right: 0;
	margin: 30px auto 10px;
}
.panel-5 .yuan *{
	position: absolute;
	left:0;
}
.panel-5 .yuan .picR{
	z-index:99;
}
.panel-5 .yuan .picL{
	z-index:999;
	transform: rotate(0deg);
}
.panel-5 .yuan .bg{
	width: 208px;
	height: 416px;
	background: #fff;
	z-index:1000;
}
.panel-5 .yuan 	.pictxt{
	width: 416px;
	height: 415px;
	background: url(../img/yuan.png);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1001;
	opacity: 1;
}
.panel-5 .info-item{
	width: 284px;
	position: absolute;
	left: 760px;
	top: 278px;  
	text-align: left;          
}
.panel-5 .info-item li{
	width: 94px;
	height: 28px;
	float: left;
	text-indent: 0.5em;
}
.panel-5 .info-item li span{
	float: left;
	width:14px;
	height:14px;
	border-radius: 100% 100%;
}

/*模块5*/
.module-5{
	height: 528px;
}
.module-5 .public-title3{
	margin-bottom: 24px;
}
.module-5 h4{
	width: 102px;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 6px;
	background: #b10036;
	margin-bottom: 20px;
}
.module-5 .title-5{
	width: 144px;
	margin-top: 50px;
}
.module-5 p{
	width: 322px;
	line-height: 2em;
	position: absolute;
	top:110px;
	left: 0;
}
.module-5 .txt-5{
	top:180px;
	left: 0;
}
.module-5 .pic-info{
	position: absolute;
	top: 90px;
	left: 410px;
}
.module-5 .pic-info ul li{
	float: left;
	width: 102px;
	height: 102px;
}
.module-5 .pic-info ul li a{
	display: block;
	width: 102px;
	height: 102px;
	background-image: url(../img/icon14.png);
	background-repeat: no-repeat;
}
.module-5 span{
	width: 46px;
	height: 46px;
	position: absolute;
}
.color-1{
	background: #f37c76;
	top: 194px;
	left: 464px;
}
.color-2{
	background: #b10036;
	top: 194px;
	left: 922px;
}
.color-3{
	background: #945aae;
	top: 396px;
	left: 922px;
}
/*面板6*/
.panel-6{
	height: 380px;
	background: #f2f0f0;
}
.panel-6 h2{
	width: 560px;
	height:25px;
	font-size: 25px;
	color: #0a9b8c;
	font-weight: bolder;
	line-height: 30px;
	text-align: center;
	position: relative;
	top: 52px;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
}
.panel-6 ul{
	width: 990px;
	height: 224px;
	position: absolute;
	top: 114px;
	left: 0;
	right: 0;
	margin:auto;
}
.panel-6 ul li{
	position: absolute;
	top:0;
	width: 163px;
	height: 224px;
	border:1px solid #0a9b8c;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	overflow: hidden;
}
.panel-6 h3{
	width: 163px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: #0a9b8c;
}
.panel-6 em{
	display: block;
	width: 130px;
	height: 114px;
	margin:20px auto 0px;
	background-image: url(../img/icon6L.png);
}